.main-layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #131a23;
    color: white;
  }
  
  header {
    padding: 1rem;
    text-align: center;
  }
  
  .content {
    flex: 1;
    overflow: hidden; 
  }
  
  .trade-container {
    background-color: #2b2b2b;
    padding: 1rem;
    height: 200px; 
    overflow-y: auto;
  }